@import url(https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap);
*{
    margin:0%;
    padding: 0%;

}
header{

    display: flex;
    flex-direction:row;
    height:80px;
    width: 100%;
}
header li{
    display:inline;
    margin-right: 35px;
    margin-left: 7vw;
}
header ul{
    position:absolute;

}
header h1{
    color: #ff7300;
    margin-left: 40px;

    display: flex;
    align-items: center;
}
li{
    display: inline;
}
li a{
    text-decoration: none;
    font-size: 25px;
    font-family: "Mystery Quest", system-ui;
    color: #ff7300;
}
li a:hover{
    text-decoration: underline;
}
nav{

    display: flex;
    align-items: center;
}
.button1{
    display:inline;
    margin-left :65%;
    line-height: 80px;

}
.button1 a{
    font-family: "Mystery Quest", system-ui;
    font-size:20px;
    border-radius: 5px;
    padding: 10px 10px;
    text-decoration: none;
    background-color: transparent;
    color:black;
    color: #ff7200;

}
header button{
    border-radius: 8px;
    margin-right: 5px;
    background-color: transparent;
    border-color: rgba(255, 157, 0, 0.851);
    padding: 10px;

}
header button:hover{
    border-color: rgba(236, 106, 13, 0.947);

    background-color: #ff7200;
    }
header button a:hover{
    text-decoration: none;
    color:white;
    }
    body{
        margin:0;
        padding:0;
        overflow: auto;
        font-family: "Mystery Quest", system-ui;
        background-image: url(../Image/horror-pumpkins-halloween_1574941038.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }